<div id="container">
  <form id="login_form" action="/login" method="post" autocomplete="on">
    <div class="error">
    </div>
  <input type="email" name="email" placeholder="Email..." autocomplete="off" required><br>
  <input type="password" placeholder="Password..." name="password_hash" required><br>  
  <input type="submit">
</form>
</div>
