<div class="container">
  <form id="login_form" action="/create" method="post" autocomplete="on">
  <input type="text" required="required" name="name" placeholder="Name..." autocomplete="off"><br>
  <input type="email" required="required" name="email" placeholder="Email..." autocomplete="off"><br>
  <input type="password" required="required" placeholder="Password..." name="password_hash"><br>  
  <input type="submit">
</form>

</div>
